<input type="text" id="filter-input" [(ngModel)]="searchTerm"> {{ searchTerm }}
<table id="mytable">
    @for (application of applicationsListFiltered; track application) {
        <tr>
            <td>
                <fav-star [application]="application">
                    {{ application.name }} @if (application.isFav) {
                    <span>(faved !)</span>
                }
                </fav-star>
            </td>
        </tr>
    }
</table>
{{ applicationsListFiltered | json }}
