<spinner [spinner]="Spinkit.skWanderingCubes" [backgroundColor]="'#ff0000'"></spinner>
<h1>
    {{title}}<br>
    <img src="assets/1/2/index.png">
    <input type="text" id="first-binding" [(ngModel)]="inputTextBinded"/>
    {{inputText.getId()}}
    <span *ngIf="inputText.getId() <= 1">second</span>
    <span *ngIf="inputText.getId() > 1">seconds</span>
    <i class="fa fa-caret-square-o-down"></i>
    <app-child
            [bindingFromAppComponent]="inputText"
            [(doubleBindedChild)]="doubleBindedParent"
    ></app-child>
    <br/>
    <input type="text" id="double-binded-parent" [(ngModel)]="doubleBindedParent"><br/>
</h1>
