<i class="far fa-address-card"></i>
<i class="far fa-check-circle"></i>
<i class="fas fa-angle-double-left"></i>
<div id="sec">
    <h1>ChildComponent</h1>
    <p appColor [color]="color">
        <input type="text" [(ngModel)]="color">
    </p>
    <input type="text" id="double-binded-child" [ngModel]="doubleBindedChild" (ngModelChange)="emitNgModelChanges($event)">
    <br>
    <input type="text" id="double-binded-child2" [(ngModel)]="doubleBindedChild2">
</div>

<hr>
<form #form="ngForm">
    <input name="inputtext" [(ngModel)]="inputTextInForm" required="required"><br>
    <intl-tel-input
        [cssClass]="'form-control'"
        [required]="true"
        [options]="intlTelInputOptions"
        [onlyLocalized]="true"
        [(E164PhoneNumber)]="E164PhoneNumber"></intl-tel-input>
    ==> Valid ? : {{!!E164PhoneNumber}}, {{E164PhoneNumber}}
</form>
{{form.value | json}} {{form.valid | json}}
<hr>

<app-checkbox></app-checkbox>

<div id="app">
    <app-search-filter [(applicationsList)]="applicationsList"></app-search-filter>
    <table id="mytable">
        <tr *ngFor="let application of applicationsList">
            <td>
                <fav-star [application]="application" [(applicationsList)]="applicationsList">
                    {{application.name}} <span *ngIf="application.isFav">(faved !)</span>
                </fav-star>
            </td>
        </tr>
    </table>
    {{applicationsList | json}}
</div>
