$is-not-fav-color: #cccccc;
$is-fav-color: #ffac33;

.star {
    font-size: 1.5rem;
    color: $is-not-fav-color;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    margin-right: 0.1em;

    &.fav {
        color: $is-fav-color;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        color: $is-fav-color;
    }
}
